<div class="container">
        <h1>Register Information</h1>
        <form #regForm="ngForm" (ngSubmit)="registerClick(regForm)">
          <div class="form-group">
            <label for="firstname">Firstname</label>
            <input type="text" class="form-control" name="firstname" required ngModel>
          </div>
     
          <div class="form-group">
            <label for="surname">Surname</label>
            <input type="text" class="form-control" name="surname" required ngModel>
          </div>

          <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" name="username" required ngModel>
              </div>
         
              <div class="form-group">
                <label for="password">Password</label>
                <input type="text" class="form-control" name="password" required ngModel>
             </div>

          <div class="form-group">
                    <label for="shift">Shift</label>
                    <input type="text" class="form-control" name="shift" required ngModel>
          </div>
     
          <button type="submit" class="btn btn-success">Submit</button>
     
        </form>
    </div>