<h2>Wikipedia Get Request</h2>
<div> 
  <label for="get">Click enter to retrieve Wikipedia Information</label>
  <button (click)="GetRequest()">Submit</button>
</div> 
<div>
    <p>The total time for the data to be returned: {{getTime}} milliseconds</p>
</div>
<h2>Wikipedia Post Request</h2>
<div> 
  <label for="post">Click enter to post email</label>
  <button (click)="PostRequest()">Submit</button>
</div> 
<div>
    <p>The total time for the data to be returned: {{postTime}} milliseconds</p>
</div>
