<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
</div>
<nav style="text-align:center">
  <a [routerLink]="['database']">Database</a>
  <a [routerLink]="['internet']">Internet</a>
  <a [routerLink]="['hardware']">Hardware</a>
  <a [routerLink]="['media']">Media</a>
  <a [routerLink]="['file']">XML File</a>
  <a [routerLink]="['computation']">Computation</a>
  <a [routerLink]="['communication']">Communication</a>
</nav>
<router-outlet></router-outlet>


