<div class="example-container">
    <h2>XML List</h2>
    <ol>
    <div *ngFor="let d of data">
        <li>{{d.NAME}} : {{d.COMPANY}}</li>
    </div>
    </ol>     
  </div>

<div>
    <button (click)="getXMLParser(100)">Get 100 Records</button>
    <div>
        <p>The total time to get the list from the xml file: {{listTime}} milliseconds</p>
    </div>
</div>

<div>
    <button (click)="getXMLParser(1000)">Get 1000 Records</button>
    <div>
        <p>The total time to get the list from the xml file: {{listTime}} milliseconds</p>
    </div>
</div>

<div>
    <button (click)="getXMLParser(10000)">Get 10000 Records</button>
    <div>
        <p>The total time to get the list from the xml file: {{listTime}} milliseconds</p>
    </div>
</div>

<div>
    <button (click)="getXMLParser(100000)">Get 100000 Records</button>
    <div>
        <p>The total time to get the list from the xml file: {{listTime}} milliseconds</p>
    </div>    
</div>
