@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    max-height: 500px;
    overflow: auto;
  }

  div{
      margin-bottom: 5px;
      margin-top: 25px;
  }

  button{
      width: 100%;
  }
  
  .example-container > * {
    width: 100%;
  }

  .example-radio-group {
    display: inline-flex;
    flex-direction: column;
  }
  
  .example-radio-button {
    margin: 5px;
  }
  
  .example-selected-value {
    margin: 15px 0;
  }


  