<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
        <h1>
          Welcome {{title}}
        </h1>
      </div>
       <nav style="text-align:center">
        <a [routerLink]="['scheduler']" [queryParams]="{ user: title }">Scheduler</a>
        <a [routerLink]="['internet']"[queryParams]="{ user: title }">Internet</a>
        <a [routerLink]="['hardware']"[queryParams]="{ user: title }">Hardware</a>
        <a [routerLink]="['communication']"[queryParams]="{ user: title }">Communication</a>
        <a [routerLink]="['update']"[queryParams]="{ user: title }">Update</a>
        <a [routerLink]="['logout']"[queryParams]="{ user: title }">Logout</a>
      </nav>
<router-outlet></router-outlet>